<h2 mat-dialog-title>{{description}}</h2>

<form class="mat-dialog-content" [formGroup]="planeForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="form">
        <input matInput placeholder="Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
      <span *ngIf="!planeForm.get('name').valid && planeForm.get('name').touched">
          Please enter Name
      </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <input matInput [max]="maxDate" [min]="minDate"
               [matDatepicker]="picker"
               formControlName="creationDate"
               placeholder="Choose creation date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
        <mat-error>
      <span *ngIf="!planeForm.get('creationDate').valid && planeForm.get('creationDate').touched">
          Please enter creation date
      </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <input matInput
               type="number"
               placeholder="Lifetime"
               formControlName="lifeTimeAge"
               [errorStateMatcher]="matcher">
        <mat-error>
      <span *ngIf="!planeForm.get('lifeTimeAge').valid && planeForm.get('lifeTimeAge').touched">
          Please enter Life time
      </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-select
            [(value)]="planeForm.get('type').value"
            placeholder="{{planeForm.get('type').value?.planeModel}}"
            formControlName="type"
            required>
            <mat-option *ngFor="let t of types" [value]="t">
                {{t.planeModel}}
            </mat-option>
        </mat-select>
        <mat-error>
            <span *ngIf="!planeForm.get('type').valid && planeForm.get('type').touched">
                Please choose Type
            </span>
        </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!planeForm.valid" mat-raised-button color="primary">
            <mat-icon>save</mat-icon>
        </button>
        <button type="reset" mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</form>
