<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/planes']">
        <mat-icon>list</mat-icon>
    </a>
</div>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h2>Plane #{{plane?.id}}</h2>
            <h2>Plane Name: {{plane?.name}}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <dl>
            <dt>Plane type:</dt>
            <dd>{{plane?.planeType.planeModel}}</dd>
            <dt>Life time:</dt>
            <dd>{{plane?.lifeTimeAge | ageForm : 'medium'}}</dd>
            <dt>Creation date:</dt>
            <dd>{{plane?.creationDate | date}}</dd>
        </dl>
    </mat-card-content>

    <mat-card-actions>
        <a mat-raised-button color="primary" (click)="openEditDialog()">
            <mat-icon>edit</mat-icon>
        </a>
        <a mat-raised-button color="warn" (click)="openDeleteDialog()">
            <mat-icon>delete</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>
