<div class="panel panel-primary" *ngIf="pilot">
    <div class="panel-heading" style="font-size:large">
        {{pageTitle + ": " + pilot.name}}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">Id:</div>
                    <div class="col-md-6">{{pilot.id}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">{{pilot.name}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Family Name:</div>
                    <div class="col-md-6">{{pilot.familyName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Experience:</div>
                    <div class="col-md-6">{{ pilot.experienceAge }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Date of Birth:</div>
                    <div class="col-md-6">{{pilot.dateOfBirth}}</div>
                </div>
            </div>
        </div>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default"
           [routerLink]="['/pilots']"
           queryParamsHandling="preserve"
           style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px"
           [routerLink]="['edit']">
            Edit
        </a>
    </div>
</div>
