<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/pilots']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><h2>{{pilot?.name}}</h2></mat-card-title>
        <mat-card-subtitle>{{pilot?.familyName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <dl>
            <dt>Name:</dt>
            <dd>{{pilot?.name}}</dd>
            <dt>Family Name:</dt>
            <dd>{{pilot?.familyName}}</dd>
            <dt>Age:</dt>
            <dd>{{pilot?.age | ageForm : "long"}}</dd>
            <dt>Experience:</dt>
            <dd>{{pilot?.experienceAge | ageForm : "long"}}</dd>
            <dt>Birth Date:</dt>
            <dd>{{pilot?.dateOfBirth | date}}</dd>
        </dl>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button color="primary"
           *ngIf="pilot"
           [routerLink]="['/pilots/edit', pilot?.id]">
            <mat-icon>edit</mat-icon>
        </a>
        <a mat-raised-button color="primary"
           *ngIf="!pilot">
            <mat-icon>edit</mat-icon>
        </a>
        <a mat-raised-button color="warn"
           (click)="deleteStewardess(pilot?.id)">
            <mat-icon>delete</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>
