<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/tickets']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="ticketForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="example-full-width">
        <input matInput
               type="number"
               step="1.0"
               min="0"
               max="9999999"
               placeholder="Price"
               formControlName="price"
               [errorStateMatcher]="matcher">
        <mat-error>
            <span *ngIf="!ticketForm.get('price').valid && ticketForm.get('price').touched">Please enter Price</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select [(value)]="ticketForm.get('flightControl').value"
                    placeholder="{{ticketForm.get('flightControl').value?.number}}"
                    formControlName="flightControl"
                    required>

            <!--<mat-option [value]="selectedFlight">{{selectedFlight.number}}</mat-option>-->
            <mat-option *ngFor="let fl of flights" [value]="fl">
                {{fl.number}}
            </mat-option>
        </mat-select>
        <mat-error>
            <span *ngIf="!ticketForm.get('flightControl').valid && ticketForm.get('flightControl').touched">
                Please choose Flight
            </span>
        </mat-error>
        <mat-hint>{{ticketForm.get('flightControl').value?.destination}}</mat-hint>
    </mat-form-field>
    <div class="button-row">
        <button type="submit" [disabled]="!ticketForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
    </div>
</form>
