<div class="table-container  mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="departureTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departure Time</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.departureTime | date}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="flightNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Flight Number</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a *ngIf="row.flight" [routerLink]="['/flights/details', row.flight.number]">{{row.flight.number}}</a>
                <a *ngIf="!row.flight">{{row.flight?.number}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="crewId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Crew Id</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a *ngIf="row.crewId" [routerLink]="['/crews/details', row.crewId]">{{row.crewId}}</a>
                <a *ngIf="!row.crewId">{{row.crewId}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="planeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Plane Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a *ngIf="row.plane" [routerLink]="['/planes/details', row.plane.id]">{{row.plane.name}}</a>
                <a *ngIf="!row.plane">{{row.plane?.name}}</a>
            </mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openAddDialog()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="redirectToDetails(row.id)">
                    <mat-icon aria-label="Assignment">assignment</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="openEditDialog(row)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="openDeleteDialog(row)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results" [style.display]="departure.length == 0 ? '' : 'none'">
        No results
    </div>

    <mat-paginator #paginator
                   [length]="departure.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
