<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/stewardesses']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{stewardess.Name}}</h2></mat-card-title>
    <mat-card-subtitle>{{stewardess.FamilyName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Name:</dt>
      <dd>{{stewardess.Name}}</dd>
      <dt>Family Name:</dt>
      <dd>{{stewardess.FamilyName}}</dd>
      <dt>Birth Date:</dt>
      <dd>{{stewardess.DateOfBirth | date}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/stewardesses/edit', stewardess.Id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteStewardess(stewardess.Id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
