<div class="button-row">
    <a mat-raised-button color="primary" (click)="stewardessDetails()">
        <mat-icon>home</mat-icon>
    </a>
</div>
<form [formGroup]="stewForm" (ngSubmit)="onFormSubmit(stewForm.value)">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
      <span *ngIf="!stewForm.get('name').valid && stewForm.get('name').touched">
          Please enter Name
      </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Family Name" formControlName="familyName"
               [errorStateMatcher]="matcher">
        <mat-error>
      <span *ngIf="!stewForm.get('familyName').valid && stewForm.get('familyName').touched">
          Please enter Family Name
      </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [max]="maxDate" [min]="minDate"
               [matDatepicker]="picker"
               formControlName="dateOfBirth"
               placeholder="Choose date of birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
        <mat-error>
      <span *ngIf="!stewForm.get('dateOfBirth').valid && stewForm.get('dateOfBirth').touched">
          Please enter date of birth
      </span>
        </mat-error>
    </mat-form-field>
    <div class="button-row">
        <button type="submit" [disabled]="!stewForm.valid" mat-raised-button color="primary">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</form>
