<h2 mat-dialog-title>{{description}}</h2>

<form class="mat-dialog-content" [formGroup]="typeForm" (ngSubmit)="onFormSubmit(typeForm.value)">
    <div class="form">
        <mat-form-field>
            <input class="form-control"
                   matInput placeholder="Plane Model"
                   formControlName="planeModel"
                   [errorStateMatcher]="matcher">
            <mat-error>
            <span *ngIf="!typeForm.get('planeModel').valid && typeForm.get('planeModel').touched">
                Please enter Plane Model
            </span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field>
            <input class="form-control"
                   matInput placeholder="Max # Of Places"
                   formControlName="maximalNumberOfPlaces"
                   [errorStateMatcher]="matcher">
            <mat-error>
            <span *ngIf="!typeForm.get('maximalNumberOfPlaces').valid && typeForm.get('maximalNumberOfPlaces').touched">
                Please enter Maximal Number Of Places
            </span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field>
            <input class="form-control"
                   matInput placeholder="Max Carrying Capacity in Kg"
                   formControlName="maximalCarryingCapacityKg"
                   [errorStateMatcher]="matcher">
            <mat-error>
            <span
                *ngIf="!typeForm.get('maximalCarryingCapacityKg').valid && typeForm.get('maximalCarryingCapacityKg').touched">
                Please enter Maximal Carrying Capacity in Kg
            </span>
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!typeForm.valid" mat-raised-button color="primary">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-button type="reset" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</form>
