<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
        Id: {{data.id}}
        <p></p>
        Plane Model: {{data.planeModel}}
        <p></p>
        Max Carrying Capacity Kg: {{data.maximalNumberOfPlaces}}
        <p></p>
        Max # of places: {{data.maximalNumberOfPlaces}}
        <p></p>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="deleteType()">Delete</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>

<!--<mat-card class="example-card">-->
    <!--<mat-card-header>-->
        <!--<mat-card-title><h2>{{data.id}}</h2></mat-card-title>-->
        <!--<mat-card-subtitle>{{data.planeModel}}</mat-card-subtitle>-->
    <!--</mat-card-header>-->
    <!--<mat-card-content>-->
        <!--<dl>-->
            <!--<dt>Plane model:</dt>-->
            <!--<dd>{{data.planeModel}}</dd>-->
            <!--<dt>Max # of places:</dt>-->
            <!--<dd>{{data.maximalNumberOfPlaces}}</dd>-->
            <!--<dt>Max carrying capacity:</dt>-->
            <!--<dd>{{data.maximalCarryingCapacityKg}} kg</dd>-->
        <!--</dl>-->
    <!--</mat-card-content>-->

    <!--&lt;!&ndash; actions &ndash;&gt;-->
    <!--<mat-card-actions>-->
        <!--<a mat-raised-button color="warn" ((click)="deleteType()"><mat-icon>delete</mat-icon></a>-->
        <!--<a mat-raised-button color="primary" (click)="onNoClick()" tabindex="-1"><mat-icon>cancel</mat-icon></a>-->
    <!--</mat-card-actions>-->
<!--</mat-card>-->
