<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/departures']">
        <mat-icon>list</mat-icon>
    </a>
</div>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h2>
                Departure # {{departure?.id}}
            </h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h3>
                {{departure?.flight?.number}}
            </h3>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <dl>
            <dt>Plane name:</dt>
            <dd>{{departure?.plane?.name}}</dd>
            <dt>Flight Number:</dt>
            <dd>{{departure?.flight?.number}}</dd>
            <dt>Crew Id:</dt>
            <dd>{{departure?.crewId}}</dd>
            <dt>Departure time:</dt>
            <dd>{{departure?.departureTime | date}}</dd>
        </dl>
    </mat-card-content>

    <!-- actions -->
    <mat-card-actions>
        <a mat-raised-button color="primary" (click)="openEditDialog()">
            <mat-icon>edit</mat-icon>
        </a>
        <a mat-raised-button color="warn" (click)="openDeleteDialog()">
            <mat-icon>delete</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>
