thead {
    color: #337AB7;
}
.wrap{
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}
.row{
    width: 100%;
}
.table{
    width: 100%;
}
.search{
    padding-bottom: 10px;
}
.product{
    width: auto;
}
.buttons{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
