<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/flights']"><mat-icon>list</mat-icon></a>
</div>

<h2 mat-dialog-title>{{description}}</h2>

<form class="mat-dialog-content" [formGroup]="flightForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="form">
        <input matInput placeholder="NUMBER" formControlName="number"
               [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="form">
        <input matInput [max]="maxDate" [min]="minDate"
               [matDatepicker]="depPicker"
               formControlName="departureTime"
               placeholder="Choose Departure Time">
        <mat-datepicker-toggle matSuffix [for]="depPicker"></mat-datepicker-toggle>
        <mat-datepicker #depPicker startView="year"></mat-datepicker>
        <mat-error>
            <span *ngIf="!flightForm.get('departureTime').valid && flightForm.get('departureTime').touched">
                Please enter departure time
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <input matInput placeholder="Point Of Departure" formControlName="pointOfDeparture"
               [errorStateMatcher]="matcher">
        <mat-error>
            <span *ngIf="!flightForm.get('pointOfDeparture').valid && flightForm.get('pointOfDeparture').touched">
                Please enter Point Of Departure
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <input matInput [max]="maxDate" [min]="minDate"
               [matDatepicker]="picker"
               formControlName="destinationArrivalTime"
               placeholder="Choose Destination Arrival Time">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
        <mat-error>
            <span *ngIf="!flightForm.get('destinationArrivalTime').valid && flightForm.get('destinationArrivalTime').touched">
                Please enter Destination Arrival Time
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <input matInput placeholder="Destination" formControlName="destination"
               [errorStateMatcher]="matcher">
        <mat-error>
            <span *ngIf="!flightForm.get('destination').valid && flightForm.get('destination').touched">
          Please enter Destination
      </span>
        </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!flightForm.valid" mat-raised-button color="primary">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</form>
