<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
        #: {{data.id}}
        <p></p>
        Plane Name: {{data.name}}
        <p></p>
        Plane type: {{data.planeType.planeModel}}
        <p></p>
        Life time: {{data?.lifeTimeAge | ageForm : 'medium'}}
        <p></p>
        <p></p>
        Creation date: {{data?.creationDate | date}}
        <p></p>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="deleteType()">Delete</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>
